*.suo
*.user
_ReSharper.*
bin
obj
packages
obj/Debug/net7.0/c#_cours.pdb
obj/Debug/net7.0/c#_cours.genruntimeconfig.cache
obj/Debug/net7.0/c#_cours.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/c#_cours.dll
obj/Debug/net7.0/c#_cours.csproj.FileListAbsolute.txt
obj/Debug/net7.0/c#_cours.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/c#_cours.csproj.AssemblyReference.cache
obj/Debug/net7.0/c#_cours.assets.cache
obj/Debug/net7.0/apphost.exe
obj/project.nuget.cache
obj/project.assets.json
obj/c#_cours.csproj.nuget.g.targets
obj/c#_cours.csproj.nuget.g.props
obj/c#_cours.csproj.nuget.dgspec.json
